.calculator {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0px 100px;
}

.num0 {
    grid-column: 1;
    grid-row: 1;
}

.num1 {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.num3 {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}

.equal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    width: 60px;
    grid-column: 3;
    grid-row: 1;
    align-self: center;
}

.up, .down {
    height: 13px;
    background-color: black;
}

#operation {
    font-size: 1.3rem;
    cursor: pointer;
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 3px;
    padding: 5px;
    width: 85px;
    height: 40px;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: center;
}

.num0, .num1, .num3 {
    display: flex;
    flex-direction: column;
}

.not1, .not2 {
    padding: 5px 8px;
    width: 50px;
    border-radius: 4px;
    border-color: black;
    background-color: black;
    color: white;
}

.not1:hover, .not2:hover {
    cursor: pointer;
}