.calculator {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.equal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    width: 60px;
}

.up, .down {
    height: 13px;
    background-color: black;
}

#operation {
    font-size: 1.3rem;
}

.not1 {
    position: absolute;
    left: 22px;
    bottom: 0px;
}

.not2 {
    position: absolute;
    bottom: 0px;
    left: 506px;
}