.converter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 10px 0px;
    width: 150px;
}

.bits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 250px;
}